
.container{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

header{
    background-color: rgba(0, 0, 0, 0.356);
    color: white;
    height: 118px;
    font-size: 25px;
    text-align: center;
    font-family: "Copperplate Gothic Light";
}

nav{
    background-color: white;
    height: 40px;
}

main{
    background-color: aqua;
    height: 800px;
}

footer{
    
    height: 100px;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    
}

nav > ul > li {
    display: inline;
    margin-right: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}